.img {
  border-radius: 50%;
  width: 12em;
  height: 12em;
  margin-top: 4em;

}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.phone {
  width: 2em;
  height: 2em;
  margin: 72px 16px;
}

.logoicon {
  /* padding: 0px 27px 22px 37px; */
  font-size: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* align-content: stretch; */
  flex-wrap: nowrap;
  margin: -84px 0px;
}

.name {
  font-size: 4em;
  margin: 4px;
  color: rgb(245, 245, 248);
  
  text-align: center;
}
.nameh {
  font-size: 4em;
  margin: 4px;
  color: #0a0303;
}

h2.name {
  font-size: 2em;
  padding-bottom: 1em;

}

.line {
  border: 2px solid black;
  width: 100%;
  margin-top: 7em;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(2, 1, 41, 1) 8%, rgba(3, 2, 51, 1) 16%, rgba(4, 3, 63, 1) 25%,
   rgba(7, 6, 92, 1) 38%, rgba(9, 9, 121, 0.9108018207282913) 47%, rgba(194, 201, 213, 1) 61%, rgba(0, 212, 255, 1) 100%);
}

.skilogo {

  mix-blend-mode: multiply;
  /*border: 2px solid black;*/
  width: 14em;
  height: 12em;
  padding: 1em;
  margin: 2em;
}

.skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 1px;
}

.projectlogo {
  width: 20em;
  height: 16em;
  padding: 1em;
  margin: 2em;
}

.center {
  width: 100%;
  text-align: center;
  color: #dfe5ec;
}

figcaption a{
  font-size: 2em;
  text-decoration: none;
  padding-left: 4em;
}
body {
  background-color: #ffff;
}